:root {
    --s-14: calc(1rem + (1.125rem - 1rem) * ((100vw - 320px) / (1200 - 320)));
  }
  
.head_logo {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 11;
    align-items: center;
}
.head_capybara {
    transform: translate3d(10%, -200%, 0);
    transition: transform 0.64s var(--page-in-handle);
}
.head_raffle{
    transform: translate3d(-135%, 0px, 0px); 
}
.head-text {
    color: #901090;
}